<%- include('admin-partials/header.ejs') %>


<div class="screen-overlay"></div>

<aside class="navbar-aside" id="offcanvas_aside">
   <div class="aside-top">
      <a href="index.html" class="brand-wrap">
         <img src="/assets/imgs/theme/inloop-logo.png" class="logo" alt="inloop Dashboard">
      </a>
      <div>
         <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
         </button>
      </div>
   </div>
   <nav>
      <ul class="menu-aside">
         <li class="menu-item ">
            <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
               <span class="text">Dashboard</span>
            </a>
         </li>
         <li class="menu-item active">
            <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
               <span class="text">User Management</span>
            </a>
         </li>
         <li class="menu-item">
            <a class="menu-link" href="/admin/product-management"> <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Product Management</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="/admin/category-management"> <i class="icon material-icons md-category "></i>

                <span class="text">Category Management</span>
            </a>
        </li>
         <li class="menu-item ">
            <a class="menu-link" href="/admin/order-management"> <i class="icon material-icons md-shopping_cart"></i>
               <span class="text">Order Management</span>
            </a>
         </li>

         <li class="menu-item">
            <a class="menu-link" href="/admin/coupon-management"> <i class="icon material-icons md-redeem coupon-icon"></i>
                <span class="text">Coupon Management</span>
            </a>
        </li>
         <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                   <span class="text">Sellers</span>
               </a>
               <div class="submenu">
                   <a href="page-sellers-cards.html">Sellers cards</a>
                   <a href="page-sellers-list.html">Sellers list</a>
                   <a href="page-seller-detail.html">Seller profile</a>
               </div>
           </li> -->
         <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="page-transactions-1.html"> <i
                       class="icon material-icons md-monetization_on"></i>
                   <span class="text">Transactions</span>
               </a>
               <div class="submenu">
                   <a href="page-transactions-1.html">Transaction 1</a>
                   <a href="page-transactions-2.html">Transaction 2</a>
                   <a href="page-transactions-details.html">Transaction Details</a>
               </div>
           </li> -->
         <!-- <li class="menu-item has-submenu">
               <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                   <span class="text">Account</span>
               </a>
               <div class="submenu">
                   <a href="page-account-login.html">User login</a>
                   <a href="page-account-register.html">User registration</a>
                   <a href="page-error-404.html">Error 404</a>
               </div>
           </li> -->
         <!-- <li class="menu-item">
               <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                   <span class="text">Reviews</span>
               </a>
           </li> -->
         <!-- <li class="menu-item">
            <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
               <span class="text">Brands</span> </a>
         </li> -->
         <!-- <li class="menu-item">
               <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                   <span class="text">Statistics</span>
               </a>
           </li> -->
      </ul>
      <!-- <hr> -->
      <!-- <ul class="menu-aside">
           <li class="menu-item has-submenu">
               <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                   <span class="text">Settings</span>
               </a>
               <div class="submenu">
                   <a href="page-settings-1.html">Setting sample 1</a>
                   <a href="page-settings-2.html">Setting sample 2</a>
               </div>
           </li>
           <li class="menu-item">
               <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                   <span class="text"> Starter page </span>
               </a>
           </li>
       </ul> -->
      <br>
      <br>
   </nav>
</aside>

<main class="main-wrap">
   <header class="main-header navbar">
      <!-- <div class="col-search">
          <form class="searchform">
              <div class="input-group">
                  <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                  <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
              </div>
              <datalist id="search_terms">
                  <option value="Products">
                  <option value="New orders">
                  <option value="Apple iphone">
                  <option value="Ahmed Hassan">
              </datalist>
          </form>
      </div> -->
      <div class="col-nav ms-auto">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                  class="material-icons md-apps"></i> </button>
          <ul class="nav">
              <!-- <li class="nav-item">
                  <a class="nav-link btn-icon" href="#">
                      <i class="material-icons md-notifications animation-shake"></i>
                      <span class="badge rounded-pill">3</span>
                  </a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
              </li>
              <!-- <li class="nav-item">
                  <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
              </li> -->
              <li class="dropdown nav-item">
                  <a class="dropdown-item text-danger" href="/admin/logout"><i
                      class="material-icons md-exit_to_app"></i>Logout</a>
              </li>
          </ul>
      </div>
  </header>
   <section class="content-main">
      <div class="content-header">
         <div>
            <h2 class="content-title card-title">User Management</h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
         </div>
         <!-- <div>
            <a href="#" class="btn btn-light rounded font-md">Export</a>
            <a href="#" class="btn btn-light rounded  font-md">Import</a>
            <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
         </div> -->
      </div>
      <!-- <div class="card mb-4"> -->
      <!-- <header class="card-header">
            <div class="row align-items-center"> -->
      <!-- <div class="col col-check flex-grow-0">
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select">
                            <option selected>All category</option>
                            <option>Electronics</option>
                            <option>Clothes</option>
                            <option>Automobile</option>
                        </select>
                    </div> -->
      <!-- <div class="col-md-2 col-6">
                        <input type="date" value="02.05.2022" class="form-control">
                    </div> -->
      <!-- <div class="col-md-2 col-6">
                        <select class="form-select">
                            <option selected>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div> -->
      <!-- </div> -->
      <!-- </header> card-header end// -->


      <div class="container rounded py-3 ">
         <div class="table-responsive ">
            <table class="table table-hover">
               <thead class="border rounded">
                  <tr class="text-center">
                     <th>ID</th>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Mobile Number</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody class="border rounded">
                  <% userdetails?.forEach((item, index) => { %>
                  <tr class="text-center">
                     <td><%= (currentPage - 1) * perPage + index + 1 %></td>
                     <td><%= item.fullname %></td>
                     <td><%= item.email %></td>
                     <td><%= item.phone %></td>
                     <td>
                        <button onclick="blockUser('<%= item._id %>')" id="blockButton_<%= item._id %>"
                           class="btn <%= item.isBlocked ?  'btn-success' : 'btn-danger' %>" style="width: 80px;">
                           <!-- Adjust the width as needed -->
                           <%= item.isBlocked ? 'Unblock' : 'Block' %>
                        </button>
                     </td>

                  </tr>
                  <% }) %>
               </tbody>
            </table>
         </div>
      </div>




      <script>
         async function blockUser(id) {
            let response = await fetch('/admin/blockUser', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                  id
               })
            })
            if (response.status === 200) {
               document.getElementById('blockButton_' + id).className = 'btn btn-danger'
               document.getElementById('blockButton_' + id).innerHTML = 'Block'
            } else if (response.status === 201) {
               document.getElementById('blockButton_' + id).className = 'btn btn-success'
               document.getElementById('blockButton_' + id).innerHTML = 'Unblock'
            } else if (response.status === 402) {
               window.location.reload()
            }
         }
      </script>




      </div> <!-- card end// -->
      <!-- <div class="pagination-area mt-30 mb-50">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
               <li class="page-item active"><a class="page-link" href="#">01</a></li>
               <li class="page-item"><a class="page-link" href="#">02</a></li>
               <li class="page-item"><a class="page-link" href="#">03</a></li>
               <li class="page-item"><a class="page-link dot" href="#">...</a></li>
               <li class="page-item"><a class="page-link" href="#">10</a></li>
               <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
               </li>
            </ul>
         </nav>
      </div> -->

      <!-- pagination -->
      <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
               <% if (currentPage > 1) { %>
               <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>"><i
                        class="material-icons md-chevron_left"></i></a>
               </li>
               <% } %>

               <% for (let i = Math.max(1, currentPage - 2); i <= Math.min(currentPage + 2, totalPages); i++) { %>
               <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
               </li>
               <% } %>

               <% if (currentPage < totalPages) { %>
               <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>"><i
                        class="material-icons md-chevron_right"></i></a>
               </li>
               <% } %>
            </ul>
         </nav>
      </div>



   </section> <!-- content-main end// -->


   <%- include('admin-partials/footer.ejs') %>